<style>
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
</style>

<script>
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready( function() {
    $('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
        if( input.length ) {
            input.val(log);
        } else {
            if( log ) alert(log);
        }
        
    });
});
</script>

<script>
function counter () {
  document.getElementById('desc_length').innerHTML = $('#user_user_description').val().length;
}
</script>

<div class="col-xs-12 col-sm-7 col-md-7">
  <h2>Sign up</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :user_nickname, :class => 'control-label' %>
      <%= f.text_field :user_nickname, autofocus: true, :class => 'form-control', :placeholder => 'User Nickname' %>
    </div>
  
    <div class="field">
      <%= f.label :email, :class => 'control-label' %>
      <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'User Email' %>
    </div>

		<div class="field">
			<%= f.label "My Genres:" %><br/>
			<%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name do |b| %>
				<div class="collection-check-box">
					<%= b.check_box %>
					<%= b.label %>
				</div>
			<% end %>
		</div>

		<div class="field">
			<%= f.label "Skills:" %><br/>
			<%= f.collection_check_boxes :skill_ids, Skill.all, :id, :name do |b| %>
				<div class="collection-check-box">
					<%= b.check_box %>
					<%= b.label %>
				</div>
			<% end %>
		</div>
  
  	<div class="field">
    	<%= f.label :user_description, :class => 'control-label' %>
    	<%= f.text_area :user_description, :class => 'form-control', :placeholder => 'User description', :rows => '9', onchange: "counter();", onkeyup: "counter();", onkeydown: "counter();" %>
  	</div>
 
  	<i>Max length of description is 300 symbols. Current length: </i><div id="desc_length">0</div>
  
    <div class="field">
      <%= f.label :password, :class => 'control-label' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation, :class => 'control-label' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :user_avatar, :class => 'control-label' %>
      <% f.file_field :user_avatar %>

      <div class="input-group" style="width: 100%;">
        <span class="input-group-btn">
          <span class="btn btn-default btn-file">
            Browse&hellip; <input type="file" name="user[user_avatar]" id="user_user_avatar">
          </span>
        </span>
        <input type="text" class="form-control" disabled>
      </div>

    </div>
  
    <div class="actions">
      <%= f.submit "Sign up", :class => 'btn btn-default' %>
    </div>
  <% end %>
  
  <% render "devise/shared/links" %>
</div>
