<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>
<%= link_to 'New Project', new_project_path %>


<% @projects.each do |project| %>
    <%= link_to "#{project.project_name}", project %>
    <%= project.project_description %>
    <%= image_tag project.project_avatar(:medium) %>
    <%= link_to 'Edit', edit_project_path(project) %>
    <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

