<div style="padding-left: 15px;">
  <p id="notice"><%= notice %></p>
</div>

<div style="padding-left: 15px;">
  <%= link_to 'Create New Project', new_project_path, { :class => "btn btn-default" } %>
</div>

<% @projects.each do |project| %>
  <div class="field col-sm-7 col-md-7">
    <h3><%= link_to "#{project.project_name}", project %></h3>
    <% #couldn't find user with id=1 %>
    <h4>Author: <%= link_to "#{User.find(project.user_id).user_nickname}", user_path(project.user_id) %></h4>
    <h4>Review's counter: <%= Review.where(project_id: "#{project.id}").length %></h4>
    <% logger.debug ":::::::::::::::::::::: #{Review.where(project_id: "#{project.id}")} :::::::::::::::::::" %>
    <div class="field">
      <%= image_tag project.project_avatar(:large), { :class => "img-responsive" } %>
    </div>
    <div class="field">
      <%= project.project_description %>
    </div>
    <div class="field">
      <ul>
        <li><%= link_to 'Edit', edit_project_path(project), { :class => "btn btn-default" } if user_signed_in? %></li>
				<% if can? :destroy, project %>
        	<li><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' if user_signed_in? %></li>
				<% end %>
        <li><%= link_to 'Create Review', new_review_path(projectid: "#{project.id}"), class: 'btn btn-default' if user_signed_in? %></li>
      </ul>
    </div>
  </div>
<% end %>

