<p id="notice"><%= notice %></p>

<p>
  <%= @project.project_name %>
</p>

<p>
  <%= @project.project_description %>
</p>

<p>
  <%= image_tag @project.project_avatar(:medium) %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
