<script>
function check_new_reviews(){

  var tmp_tag_val;
  var arr = new Array();
  $("div").each( function() {
    tmp_tag_val = $(this).attr("data-review-id");
    if (tmp_tag_val != null)
      arr.push(parseInt(tmp_tag_val));
  });
  var current_review_id = Math.max.apply(Math, arr);

  var tmp_project_id;
  var tmp_arr = new Array();
  $("div").each(function() {
    tmp_project_id = $(this).attr("data-project-id");
    if (tmp_project_id != null)
      tmp_arr.push(parseInt(tmp_project_id));
  });
  var project_id = tmp_arr[0];

  $.ajax({
    url: '/projects/' + project_id + '/get_new_reviews',
    data: { last_rev: current_review_id },
  });
}
setInterval (check_new_reviews, 5000);
</script>
<script>
function check_new_comments(){

  var tmp_tag_val;
  var arr = new Array();
  $("div").each( function() {
    tmp_tag_val = $(this).attr("data-comment-id");
    if (tmp_tag_val != null)
      arr.push(parseInt(tmp_tag_val));
  });
  var current_comment_id = Math.max.apply(Math, arr);

  var tmp_project_id;
  var tmp_arr = new Array();
  $("div").each(function() {
    tmp_project_id = $(this).attr("data-project-id");
    if (tmp_project_id != null)
      tmp_arr.push(parseInt(tmp_project_id));
  });
  var project_id = tmp_arr[0];

  $.ajax({
    url: '/projects/' + project_id + '/get_new_comments',
    data: { last_com: current_comment_id },
  });
}
setInterval (check_new_comments, 5000);
</script>
<script>
jQuery (function($) {

  $("#load_more_reviews").click (function() {

    var tmp_tag_val;
    var arr = new Array();
    $("div").each( function () {
      tmp_tag_val = $(this).attr("data-review-id");
      if (tmp_tag_val != null)
        arr.push(parseInt(tmp_tag_val));
    });
    var current_review_id = Math.min.apply(Math, arr);

    var tmp_project_id;
    var tmp_arr = new Array();                          
    $("div").each(function() {
      tmp_project_id = $(this).attr("data-project-id");
      if (tmp_project_id != null)
        tmp_arr.push(parseInt(tmp_project_id));
    });
    var project_id = tmp_arr[0];

    $.ajax({
      url: '/projects/' + project_id + '/get_old_reviews',
      data: { last_rev: current_review_id },
    });
  });

});
</script>
<script>
jQuery (function($) {

  $("#load_more_comments").click (function() {

    var tmp_tag_val;
    var arr = new Array();
    $("div").each( function () {
      tmp_tag_val = $(this).attr("data-comment-id");
      if (tmp_tag_val != null)
        arr.push(parseInt(tmp_tag_val));
    });
    var current_comment_id = Math.min.apply(Math, arr);

    var tmp_project_id;
    var tmp_arr = new Array();                          
    $("div").each(function() {
      tmp_project_id = $(this).attr("data-project-id");
      if (tmp_project_id != null)
        tmp_arr.push(parseInt(tmp_project_id));
    });
    var project_id = tmp_arr[0];

    $.ajax({
      url: '/projects/' + project_id + '/get_old_comments',
      data: { last_com: current_comment_id },
    });
  });

});
</script>
<div class="col-xs-12 col-sm-7 col-md-7">

<p id="notice"><%= notice %></p>

<div data-project-id="<%= @project.id %>" class="field">
  <h3><%= @project.project_name %></h3>
</div>
<div class="field">
  <%= image_tag @project.project_avatar(:large), { :class => "img-responsive" } %>
</div>
<div class="field">
  <%= @project.project_description %>
</div>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#comments_tab">Comments</a></li>
  <li><a data-toggle="tab" href="#reviews_tab">Reviews</a></li>
</ul>

<div class="tab-content">

  <div id="comments_tab" class="tab-pane fade in active">
    <h2>Comments</h2>
    <div id="earler_comments_field"></div>
   
    <%= render 'comments/form' if user_signed_in? %>

    <%= render @project.comments.order(created_at: :desc).limit(7) %>
    <div id="more_comments_field"></div>
    <div class="field">
      <button class="btn btn-default" id="load_more_comments" >Load more comments</button>
    </div>

  </div>

  <div id="reviews_tab" class="tab-pane fade">
    <h2>Reviews</h2>
    <div id="earler_reviews_field"></div>
    <%= render :partial => 'reviews/form' if user_signed_in? %>

    <% Review.where( "project_id = #{@project.id}" ).order(created_at: :desc).limit(7).to_a.each do |r| %>
      <%= render(r) %>
    <% end %>
    <div id="more_reviews_field"></div>
    <div class="field">
      <button class="btn btn-default" id="load_more_reviews" >Load more reviews</button>
    </div>

</div>

<div class="field">
  <ul>
    <li><%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default' if user_signed_in? %></li>
    <li><%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' if user_signed_in? %></li>
    <li><%= link_to 'Main', projects_path, class: 'btn btn-default' %></li>
    <li><%= link_to 'Create Review', new_review_path(id: "#{@project.id}"), class: 'btn btn-default' if user_signed_in? %></li>
  </ul>
</div>

</div>
