<script>
function check(){

  var tmp_tag_val;
  var arr = new Array();
  $("div").each( function() {
    tmp_tag_val = $(this).attr("data-review-id");
    if (tmp_tag_val != null)
      arr.push(parseInt(tmp_tag_val));
  });
  var current_review_id = Math.max.apply(Math, arr);

  var tmp_project_id;
  var tmp_arr = new Array();
  $("div").each(function() {
    tmp_project_id = $(this).attr("data-project-id");
    if (tmp_project_id != null)
      tmp_arr.push(parseInt(tmp_project_id));
  });
  var project_id = tmp_arr[0];

  $.ajax({
    url: '/projects/' + project_id + '/get_new_reviews',
    data: { last_rev: current_review_id },
    success: function(result) {

      rev_field = document.getElementById('earler_reviews_field');

      result['success'].map(function (item){
        var t = document.createElement('div');
        t.classList.add("field");
        $(t).attr('data-review-id', item.id);
        t.innerHTML = item.id + ' Review positive: ' + item.review_pos + ' ' + 'Review negative: ' + item.review_neg + '<br/>' + 'Author: ' + '<a href="' + item.link_to_author + '">' + item.author + '</a>' + '</div>';
        return t;
      }).forEach(function (item){
        rev_field.insertBefore(item, rev_field.firstChild);
      });

    }
  });
}
setInterval (check, 15000);
</script>
<script>
jQuery (function($) {

  $("#load_more_reviews").click (function() {

    var tmp_tag_val;
    var arr = new Array();
    $("div").each( function () {
      tmp_tag_val = $(this).attr("data-review-id");
      if (tmp_tag_val != null)
        arr.push(parseInt(tmp_tag_val));
    });
    var current_review_id = Math.min.apply(Math, arr);

    var tmp_project_id;
    var tmp_arr = new Array();                          
    $("div").each(function() {
      tmp_project_id = $(this).attr("data-project-id");
      if (tmp_project_id != null)
        tmp_arr.push(parseInt(tmp_project_id));
    });
    var project_id = tmp_arr[0];


    $.ajax({
      url: '/projects/' + project_id + '/get_old_reviews',
      data: { last_rev: current_review_id },
      success: function(result) { 
        rev_field = document.getElementById('more_reviews_field');

        result['success'].map(function (item){
          var t = document.createElement('div');
          t.classList.add("field");
          $(t).attr('data-review-id', item.id);
          t.id = item.id;
          t.innerHTML = item.id + ' Review positive: ' + item.review_pos + ' ' + 'Review negative: ' + item.review_neg + '<br/>' + 'Author: ' + '<a href="' + item.link_to_author + '">' + item.author + '</a>' + '</div>';
          return t;
        }).forEach(function (item){
          rev_field.appendChild(item);
        });
        $('#load_more_reviews').hide();

      }
    });


  });

});
        

</script>

<div class="col-xs-12 col-sm-7 col-md-7">

<p id="notice"><%= notice %></p>

<div data-project-id="<%= @project.id %>" class="field">
  <h3><%= @project.project_name %></h3>
</div>

<div class="field">
  <%= image_tag @project.project_avatar(:large), { :class => "img-responsive" } %>
</div>

<div class="field">
  <%= @project.project_description %>
</div>

<div id="earler_reviews_field"></div>

<% Review.where( "project_id = #{@project.id}" ).order(created_at: :desc).limit(7).to_a.each do |r| %>
  <div class="field" data-review-id="<%= r.id %>">
    <%= r.id %>&nbsp;Review positive: <%= r.review_pos %>
    Review negative: <%= r.review_neg %><br/>
    Author: <%= link_to "#{User.find(r.user_id).user_nickname}", user_path(r.user_id) %>
  </div>
<% end %>

<div id="more_reviews_field"></div>

<div class="field">
  <button class="btn btn-default" id="load_more_reviews" >Load more reviews</button>
</div>

<div class="field">
  <ul>
    <li><%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default' %></li>
    <li><%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></li>
    <li><%= link_to 'Main', projects_path, class: 'btn btn-default' %></li>
    <li><%= link_to 'Create Review', new_review_path(projectid: "#{@project.id}"), class: 'btn btn-default' if user_signed_in? %></li>
  </ul>
</div>

</div>
