<div class="col-xs-12 col-sm-7 col-md-7">
  <h2>Log in</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :email, :class => 'control-label' %><br />
      <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Your Email' %>
    </div>
  
    <div class="field">
      <%= f.label :password, :class => 'control-label' %><br />
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Your Password', prompt: true %>
    </div>
  
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me, :class  => 'control-label' %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  
    <div class="actions">
      <%= f.submit "Log in", :class => 'btn btn-default' %>
    </div>
  <% end %>
  
</div>
