<script>
function counter_ach () {
	document.getElementById('ach_length').innerHTML = $('#achievement_body').val().length;
}
</script>
<h2>Add achievement</h2>
<%= form_for ( [@project, @project.achievements.build] ) do |f| %>
	<div class="field">
		<%= f.hidden_field :user_id, :value => current_user.id %>
	</div>
	<div class="field">
		<%= f.label :body, :class => 'control-label' %>
		<%= f.text_field :body, :class => 'form-control', :placeholder => 'Enter your achivement', onchange: "counter_ach ();", onkeyup: "counter_ach ();", onkeydown: "counter_ach ();" %>
	</div>
	<i>Max length of achivement is 300 symbols. Current length: </i>
		<div id="ach_length">0</div>
	<%= f.submit :class => 'btn btn-default' %>
<% end %>
